asgiref==3.7.2
beautifulsoup4==4.12.2
black==23.7.0
boto3==1.28.29
botocore==1.31.29
click==8.1.7
Django==4.2.3
django-bootstrap-v5==1.0.11
django-environ==0.10.0
django-storages==1.13.2
django-widget-tweaks==1.4.12
gunicorn==20.1.0
jmespath==0.10.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
pip-autoremove==0.10.0
pipdeptree==2.12.0
platformdirs==3.10.0
psycopg2-binary==2.9.6
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
urllib3==1.26.16
