{%extends "base.html" %}
{% load static%}

{% block content %}
{{ block.super}}
<div class="overlay">
      <div class="container img-container">
            <div id="upload-div"></div>{% for pic in image_posts %}
            <div class="img-div">
                  <div class="header">
                        <div class="row">
                        <a href="{% url 'profile' pic.user.id %}"><span><img class="img-circle" src="static/images/image1.svg"></span><span>{{pic.profile.user}}</span></a>
                        </div>
                  </div><img src="{{pic.image.url}}">
                  <div class="icons">
                              <span ><a href="#"><i class="fa fa-heart-o fa-1x"></i></a></span>
                              <span style="margin-left:10px"><a href="{% url 'comment'  id=pic.pk %}"><i class="fa fa-comment-o fa-1x"></i></i></a></span>
                  </div>
                  <div class="more-section">
                        <label>{{pic.likes}} Likes</label>
                        <p><strong>{{pic.profile.user}} </strong>{{pic.image_caption}}</p>
                  </div>
                  <div>{% for comment in pic.comments.all %}
                              <p><strong>{{comment.user}}</strong> {{comment.comments}}</p>
                      {% endfor %}
                  </div>
            </div>
            {% endfor %}
      </div>
</div>
{% endblock %}