{%extends "base.html" %}
{% load static %}

{% block content %}
{{ block.super}}

{% for profile in profiles%}
      {% if profile.user.id == user.id%}
      <div class="container"><img class="img-circle center-block" src="{{profile.profile_photo.url}}" width="140" height="140">
      <h1 class="text-center">{{profile.user.username}} <button class="btn btn-default btn-primary follow-button" type="button">Follow </button></h1>
      {% endif %}
{% endfor %}
<div class="overlay">
      <div class="container img-container">
            <div id="upload-div"></div>
      </div>{% for profile in profiles %} 
      
      </div>{% endfor %}
</div>
{% endblock %}