{% extends "registration/base.html" %}
{% load bootstrap5 %}

{% block content %}
<style>
    body {
        background-color: #fafafa;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .signup-box {
        background-color: white;
        padding: 20px 40px;
        border: 1px solid #e6e6e6;
        border-radius: 1px;
        width: 300px;
    }

    .signup-box h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-primary {
        width: 100%;
        border-radius: 5px;
        background-color: #3897f0;
        border-color: #3897f0;
    }

    /* Additional styles for the form fields can go here. */
</style>

<div class="signup-container">
    <div class="signup-box">
        <h3>Sign Up</h3>
        {% if form.errors %}
        <p style="color: red;">Some Information Might be Incorrect</p>
        {% endif %}

        <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group mb-3">
                <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <div class="text-center">
                <span>You have an account? </span><a href="/accounts/login/">Sign In</a>
            </div>
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
</div>
{% endblock %}
